RewriteEngine on
 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php


RewriteRule ^about$ hakkimizda.php [NC,L]
RewriteRule ^contact$ iletisim.php [NC,L]
ErrorDocument 404 http://localhost/sporsalon/sporcu/index